<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate>

  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">



        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               name="nombre"
               [ngClass]="{'is-invalid': (
                    forma.controls['nombrecompleto'].controls['nombre'].invalid &&
                    forma.controls['nombrecompleto'].controls['nombre'].touched
                )}"
        >
        <div *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.required
                  && forma.controls['nombrecompleto'].controls['nombre'].touched"
             class="invalid-feedback">El campo Nombre es requerido</div>
        <div *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength
                  && forma.controls['nombrecompleto'].controls['nombre'].touched"
             class="invalid-feedback">Por lo menos {{ forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength?.requiredLength }} caracteres</div>
      </div>

    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               name="apellido"
               [ngClass]="{'is-invalid': (
                    forma.controls['nombrecompleto'].controls['apellido'].invalid &&
                    forma.controls['nombrecompleto'].controls['apellido'].touched
                )}"
        >
        <div *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.required
                  && forma.controls['nombrecompleto'].controls['apellido'].touched"
             class="invalid-feedback">El campo Apellido es requerido</div>
        <div *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.minlength
                  && forma.controls['nombrecompleto'].controls['apellido'].touched"
             class="invalid-feedback">Por lo menos {{ forma.controls['nombrecompleto'].controls['apellido'].errors?.minlength?.requiredLength }} caracteres</div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             name="correo"
             [ngClass]="{'is-invalid': (
                    forma.controls['correo'].invalid &&
                    forma.controls['correo'].touched
              )}"
      >
      <div *ngIf="forma.controls['correo'].errors?.required && forma.controls['correo'].touched"
           class="invalid-feedback">El campo Correo es requerido</div>
      <div *ngIf="forma.controls['correo'].errors?.pattern && forma.controls['correo'].touched"
           class="invalid-feedback">Correo debe ser un email valido</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
           class="form-control"
           type="text"
           placeholder="pasatiempo..."
           [formControlName]="i"
      >
      <!--name="correo"-->
      <!--[ngClass]="{'is-invalid': (-->
      <!--forma.controls['correo'].invalid &&-->
      <!--forma.controls['correo'].touched-->
      <!--)}"-->

      <!--<div *ngIf="forma.controls['correo'].errors?.required && forma.controls['correo'].touched"-->
      <!--class="invalid-feedback">El campo Correo es requerido</div>-->
      <!--<div *ngIf="forma.controls['correo'].errors?.pattern && forma.controls['correo'].touched"-->
      <!--class="invalid-feedback">Correo debe ser un email valido</div>-->
      <br>
      <button type="button" class="btn btn-primary"
              (click)="agregarPasatiempo()"
      >Nuevo</button>
      <!--onclick="return false;"-->
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button
          [disabled]="forma.invalid"
          type="submit"
          class="btn btn-outline-primary"
      >Guardar
      </button>
    </div>
  </div>

  <pre>
    La forma es valida ? {{ forma.valid }}
    El nombrecompleto.nombre es Valido ? {{ forma.controls['nombrecompleto'].controls['nombre'].valid }}
    El nombrecompleto.nombre es Invalido ? {{ forma.controls['nombrecompleto'].controls['nombre'].invalid }}
    El nombrecompleto.nombre esta tocado ? {{ forma.controls['nombrecompleto'].controls['nombre'].touched }}
  </pre>

</form>

